body {
    background-color: #f0f0f0;
    color: #333;
    width: 16rem;
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 8rem;
    margin: 5px 0; /* 添加上下間隔 */
}

button:hover {
    background-color: #2980b9;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px; /* 輸入框寬度填滿容器 */
    margin: 5px 0; /* 添加上下間隔 */
}
